@media screen and (min-width:1000px) {

#renarrated_overlay { position:fixed; left:0.5%; width:99%; text-align:center; font-weight:normal; z-index:2147483645; display:block; }

#edit-current  { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#see-narration { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#see-links     { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#blog-filter   { right:-3px; min-width:225px; max-width:225px; font-size:17px; font-weight:400; font-style:italic;
	       -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; border-bottom-right-radius:0px;
	       -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; border-top-right-radius:0px; -moz-margin-start:7px;
	       text-align:center; display:none; }
@-moz-document domain(127.0.0.1), domain(dev.a11y.in), domain(y.a11y.in) {
    #go  { top:11px !important; }
}
#go            { top:6px; height:25px; text-align:justify; display:none;
		 -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; border-bottom-left-radius:0px;
		 -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; }

#share         { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#orig-button   { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#info          { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }

#outter-down-button { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#outter-up-button   { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }

#pub_overlay            { position:fixed; left:10%;  width:80%; text-align:center; z-index:2147483645; display:none; }
#pub_overlay .ui-button { margin-left:10px; }

#icon-down { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#icon-up   { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#exit-mode  { font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#help-window  { font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#undo-button  { font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#publish-button  { font-size:17px; font-weight:400; font-style:italic; text-align:justify; }

#element_edit_overlay { position:fixed; text-align:center; z-index:2147483645; display:none; }

#edit-text     { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#add-audio     { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#replace-image { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#delete-image  { font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }
#close-element { position:absolute; top:-5px; left:-2px; width:10px; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#cant-edit     { width: 450px; margin:15px;  font-size:17px; font-weight:400; font-style:italic; text-align:justify; display:none; }

#editoroverlay   { min-width:90%; text-align:justify; display: none; }
#editoroverlay a { color:#1C94C4; }

#adv-reference { position: absolute; top:15%; left:2%; min-width:48%; max-width:48%; border:solid 3px; padding:10px; font-size:16px;
		 font-weight:400; font-style:normal; color:#aaa; overflow:show; background:none; text-align:justify; display:none; }

#reference { position: absolute; top: 15%; left:2%; min-width:46%; max-width:46%; min-height:10%; border:solid 3px; padding:10px; font-size:17px;
	     font-weight:400; font-style:normal; text-align:justify; color:#aaa; overflow:show; background:none; text-align:justify; }

#editor { position:absolute; top:15%; left:52%; min-width:45%; max-width:45%; min-height:10%; border:3px solid #aaa; padding:10px; font-size:17px;
	  font-weight:400; font-style:normal; text-align:justify; color:#000; background-color:#ffe; text-align:justify; }

#ref-lab  { position:absolute; top:5%; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
#edit-lab { position:absolute; top:5%; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }

#close-adv { position:absolute; top:7%; right:51%; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#adv-ref   { position:absolute; top:7%; right:51%; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }

#mag-demag { position:absolute; bottom:5%; left:10%; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#mag       { position:absolute; left:3%; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#demag     { position:absolute; left:30%; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#add-link  { position:absolute; left:54%; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }

#save-changes { position:relative; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }

.highlightElement {  box-shadow: 0 0 20px #000; }
.highlightOnSelect { box-shadow: 0 0 50px #000; }

.barOnBottom { bottom:0px; }
.barOnTop { top:0px; }

#tar-lab1 { position:absolute; top:5%; left:110px; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
#tar-lab2 { position:absolute; top:20%; left:125px; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
#tar-lab3 { position:absolute; top:35%; left:125px; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
#tar-lab4 { position:absolute; top:50%; left:125px; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
#tar-lab5 { position:absolute; top:65%; left:125px; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
#tar-lab6 { position:relative; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
/*#tar-pass { position:absolute; top:77%; left:210px; width:256px; font-size:17px; font-weight:400; font-style:italic; color:#000; text-align:justify; }*/
#tar-lab7 { position:relative; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }
#tar-p    { position:absolute; top:83%; left:210px; font-size:17px; font-weight:400; font-style:italic; text-align:justify; }
#blogset  { position:absolute; top: 68%; right:100px; left:125px; font-size:17px; font-weight:400; font-style:italic; color:#aaa; text-align:justify; }


#loc-select   { position:absolute; top:25%; left:210px; width:256px; font-size:17px; font-weight:400; font-style:italic; color:#000; text-align:justify; }
#loc-img      { position:absolute; top:25.5%; left:440px; height:20px; width:25px; font-size:17px; font-weight:400; font-style:italic;
		color:#000; text-align:justify; display:none; }
#lang-select  { position:absolute; top:40%; left:210px; width:256px; font-size:17px; font-weight:400; font-style:italic; color:#000; text-align:justify; }
#lang-img     { position:absolute; top:41%; left:440px; height:18px; width:25px; font-size:17px; font-weight:400; font-style:italic;
		color:#000; text-align:justify; display:none; }
#style-select { position:absolute; top:55%; left:210px; width:256px; font-size:17px; font-weight:400; font-style:italic; color:#000; text-align:justify; }
#auth-select  { position:absolute; top:70%; left:210px; width:256px; font-size:17px; font-weight:400; font-style:italic; color:#000; text-align:justify; }

#our-check  { position:relative; }
#your-check { position:relative; margin-left:25px; }

}
/****************************************************************************************************************************/

@media screen and (max-width:1000px) {

#renarrated_overlay            { position:fixed; clear:both; width:99%; left:0.5%; text-align:center; z-index:2147483645; font-size:80%; display:block; }
/* #renarrated_overlay .ui-button { padding:0.1em 0.8em 0.2em 0.8em; } */

#edit-current  { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#see-narration { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#see-links     { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#blog-filter   { right:-3px; min-width:150px; max-width:150px; font-weight:200; font-style:italic; text-align:justify; display:none;
		 -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; border-bottom-right-radius:0px;
		 -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; border-top-right-radius:0px; }
#go            { top:5px; height:18px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px;
		 border-bottom-left-radius:0px; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px;
		 border-top-left-radius:0px; font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
@-moz-document domain(127.0.0.1), domain(dev.a11y.in), domain(y.a11y.in) {
    #go  { height:23px !important; top:4px !important; }
}
#share         { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#orig-button   { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#info          { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }

#outter-down-button { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#outter-up-button   { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }


#pub_overlay            { position:fixed; left:3%; width:96%; text-align:center; z-index:2147483645; font-size:14px; font-weight:200; font-style:italic;
			   display:none; }
#pub_overlay .ui-button { margin-left:10px; }
#icon-down { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#icon-up { font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#exit-mode  { font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#help-window  { font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#undo-button  { font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#publish-button  { font-size:14px; font-weight:200; font-style:italic; text-align:justify; }

#element_edit_overlay            { position:fixed; text-align:center; z-index:2147483645; font-size:14px; font-weight:200; font-style:italic;
				   text-align:justify; display:none; }
#element_edit_overlay .ui-button { text-align:justify; font-size:14px; font-weight:200; font-style:italic; }

#edit-text     { text-align:justify; font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#add-audio     { text-align:justify; font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#replace-image { text-align:justify; font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#delete-image  { text-align:justify; font-size:14px; font-weight:200; font-style:italic; text-align:justify; display:none; }
#close-element { position:absolute; top:-5px; left:-2px; width:10px; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#cant-edit     { width: 450px; margin:15px;  display:none; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }

#editoroverlay   { min-width:90%;  display: none; }
#editoroverlay a { color:#1C94C4; }

#adv-reference { position: absolute; top: 24%; left:2%; min-width:48%; max-width:48%; border:solid 2px; padding:10px; font-size:13px;
		 text-align:justify; color:#aaa; font-weight:normal; overflow:show; background:none;  display:none; }
#reference     { position: absolute; top: 24%; left:2%; min-width:46%; max-width:46%; min-height:10%; border:solid 2px; padding:10px; font-size:14px;
		 text-align:justify; color:#aaa; font-weight:normal; overflow:show; background:none; }

#editor { position:absolute; top:15%; left:52%; min-width:45%; max-width:45%; min-height:10%; border:2px solid; padding:10px; color:#000;
	  background-color:#ffe; font-size:14px; font-weight:200; font-style:normal; text-align:justify; }

#ref-lab  { position:absolute; top:5%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; color:#aaa; }
#edit-lab { position:absolute; top:5%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; color:#aaa; }

#close-adv { position:absolute; top:10%; right:50%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#adv-ref   { position:absolute; top:10%; right:50%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }

#mag-demag { position:absolute; bottom:8%; left:10%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#mag       { position:absolute; left:3%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#demag     { position:absolute; left:30%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#add-link  { position:absolute; left:54%; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }

#save-changes { position:relative;  font-size:14px; font-weight:200; font-style:italic; text-align:justify; }

.highlightElement  { box-shadow: 0 0 20px #000; }
.highlightOnSelect { box-shadow: 0 0 50px #000; }

.barOnBottom { bottom:0px; }
.barOnTop    { top:0px; }

#tar-lab1 { position:absolute; top:5%; left:110px; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#tar-lab2 { position:absolute; top:20%; left:125px; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#tar-lab3 { position:absolute; top:35%; left:125px; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#tar-lab4 { position:absolute; top:50%; left:125px; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#tar-lab5 { position:absolute; top:65%; left:125px; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#tar-lab6 { position:relative; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#tar-lab7 { position:relative; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#tar-p    { position:absolute; top:90%; left:210px; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#blogset  { position:absolute; top:80%; left:125px; right:80px; color:#aaa; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }

#loc-select   { position:absolute; top:25%; left:210px; width:256px; color:#000; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#loc-img      { position:absolute; top:25.5%; left:440px; height:20px; width:25px; color:#000; font-size:14px; font-weight:200; font-style:italic;
		text-align:justify; display:none; }
#lang-select  { position:absolute; top:40%; left:210px; width:256px; color:#000; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#lang-img     { position:absolute; top:41%; left:440px; height:18px; width:25px; color:#000; font-size:14px; font-weight:200; font-style:italic;
		text-align:justify; display:none; }
#style-select { position:absolute; top:55%; left:210px; width:256px; color:#000; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }
#auth-select  { position:absolute; top:70%; left:210px; width:256px; color:#000; font-size:14px; font-weight:200; font-style:italic; text-align:justify; }

#our-check  { position:relative; }
#your-check { position:relative; margin-left:25px;}

}
/**************************************************************
************************************************************************************************************/

#infovis { position:absolute; top:3%; left:0%; width:60%; height:95%; overflow:hidden; }
#infovis-canvaswidget { height:95% }
#infovis-canvas { height:95% }

#infonar { position:relative; top:2%; left:0; width:35%; height:90%; overflow:show; }
#narrations-div { position:fixed; top:5%; bottom:2%; right:0.1%; width:30%; height:93%; overflow:show; background-color: rgba(0,0,0,0.5);
		  z-index:999999999; }
/*TOOLTIPS*/
.tip { color: #fff; width: 140px; background-color: rgba(0,0,0,1); border:1px solid #ccc; -moz-box-shadow:#555 2px 2px 8px;
       -webkit-box-shadow:#555 2px 2px 8px; -o-box-shadow:#555 2px 2px 8px; box-shadow:#555 2px 2px 8px; opacity:1; font-size:12px;
       font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; padding:7px; }
