/* #menu-button { */
/*     text-align:center; */
/*     font-size:14px; */
/*     float:left; */
/*     width:200px; */
/*     height:30px; */
/*     margin-top:10px; */
/*     margin-left:15px; */
/* } */

/* .alipi, input .alipi { */
/*     font-weight:normal */
/* } */

/* input .alipi { */
/*     font-size:15px; */
/* } */

.alipi {
    font-weight:normal;
    font-size:100%;
}

#targetoverlay .alipi {
    font-size:15px;
    font-weight:bold;
}

#renarrated_overlay {
    position:fixed;
    /* top:0px; */
    clear:both;
    width:99%;
    left:0.5%;
    /* height:30px; */
    /* min-width:500px; */
    text-align:center;
    /* right:2%; */
    z-index:2147483645;
    display:block;
}

/* #edit-current, #see-narration, #see-links, #go { */
/*     position:relative; */
/*     /\* top:3px; *\/ */
/* } */

#blog-filter {
    min-width:200px;
    max-width:200px;
    /* top:1px; */
}

#renarrated_overlay .ui-button{
    height:25px;
    /* postion:relative; */
    /* top:1px; */
    text-align:justify;
    padding:0.1em 0.8em 0.2em 0.8em;
    font-weight:normal;
}

#icon_on_overlay {
    display:none;
    position:fixed;
    /* top:0; */
    left:10px;
    min-width:100px;
    max-width:120px;
    /* height:30px; */
    text-align:center;
    z-index:2147483645;
}
#icon_on_overlay .ui-button {
    height:25px;
    text-align:justify;
    padding:0.1em 0.8em 0.1em 0.8em;
    font-weight:normal;
}

#pub_overlay {
    display:none;
    position:fixed;
    /* top:0; */
    left:150px;
    min-width:200px;
    width:40%;
    /* height:30px; */
    /* max-height:30px; */
    /* align:center;  */
    text-align:center;
    z-index:2147483645;
}

/* #exit-mode, #help-window, #undo-button, #publish-button { */
/*     position:relative; */
/*     top:3px; */
/* } */

#pub_overlay .ui-button {
    height:25px;
    text-align:justify;
    padding:0.1em 0.8em 0.2em 0.8em;
    font-weight:normal;
}

#element_edit_overlay {
    display:none;
    position:fixed;
    /* padding-top:2.5px; */
    /* padding-bottom:2.5px; */
    /* top:0; */
    right:10px;
    min-width:200px;
    width:40%;
    height:25px;
    /* max-height:25px; */
    /* align:center; */
    text-align:center;
    z-index:2147483645;
}

#element_edit_overlay .ui-button {
    height:25px;
    text-align:justify;
    padding:0.1em 0.8em 0.2em 0.8em;
    font-weight:normal;
}

#editoroverlay {
    display: none;
    /* min-width:200px; */
    /* max-width:100% ; */
}
#editoroverlay label {
    position: absolute;
    top: 5%;
    color: #000;
    font-size: 25px;
}

#editoroverlay a {
    color:#1C94C4;
}

#reference {
    position: absolute;
    top: 15%;
    left:2%;
    min-width:45%;
    max-width:45%;
    min-height:80%;
    max-height:80%;
    border:solid 3px;
    padding:10px;
    font-size:100%;
    text-align:justify;
    color:#000;
    font-weight:normal;
}

#editor {
    position:absolute;
    top:15%;
    left:52%;
    min-width:45%;
    max-width:45%;
    min-height:80%;
    max-height:80%;
    border:solid 3px;
    padding:10px;
    font-size:100%;
    text-align:justify;
    color:#000;
    font-weight:normal;
}

#forPrevData {
    display:none;
    height:1px;
    width:1px;
}

.highlightElement {
    box-shadow: 0 0 20px #000;
}

.highlightOnSelect {
    box-shadow: 0 0 50px #000;
}

.barOnBottom {
    bottom:0px;
}

.barOnTop {
    top:0px;
}

#blogset{ /* Our blog & your blog div so whole set can adjustable */
    position:absolute;
    
}

#infovis {
    position:absolute;
    top:3%;
    left:0%;
    width:60%;
    height:95%;
    overflow:hidden;
}
#infovis-canvaswidget, infovis-canvas {
    height:95%
}

#infonar {
    position:relative;
    top:2%;
    left:0;
    width:35%;
    height:90%;
    overflow:show;
/* color:#000; */
/* background-color: rgba(0,0,0,0.5); */
}

#narrations-div {
    position:fixed;
    top:5%;
    bottom:2%
    right:0.1%;
    width:30%;
    height:93%;
    overflow:show;    
    background-color: rgba(0,0,0,0.5);
    z-index:999999999;
}
/*TOOLTIPS*/
.tip {
    color: #fff;
    width: 140px;
    background-color: rgba(0,0,0,1);
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:1;
    /* filter:alpha(opacity=90); */
    font-size:12px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}
